.news-feed {
  height: 100%;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
}

.news-feed__author {
  color: hsla(0, 0%, 100%, 0.6);
}

.news-feed__title {
  font-size: 1.5em;
  margin: 5px 0;
}

.news-feed__description {
  font-weight: 300;
  color: hsla(0, 0%, 100%, 0.8);
}
